<th:block th:fragment xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-success fixed-top">
        <div class="container">
            <!--            <th:block sec:authorize="isAnonymous()">-->
            <th:block>
                <a class="navbar-brand" th:href="@{/menu}">
                    Tech Store</a>
            </th:block>
            <!--            <th:block sec:authorize="isAuthenticated()">-->
            <!--                <a class="navbar-brand" th:href="@{/menu}">-->
            <!--                    Tech Store</a>-->
            <!--            </th:block>-->
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/menu}">All products</a>
                    </li>
                    <!--                    &lt;!&ndash;                    <li class="nav-item" sec:authorize="isAnonymous()">&ndash;&gt;-->
                    <!--                    <li class="nav-item">-->
                    <!--                        <a class="nav-link" th:href="@{/users/register}">Register</a>-->
                    <!--                    </li>-->
                    <!--                    &lt;!&ndash;                    <li class="nav-item" sec:authorize="isAnonymous()">&ndash;&gt;-->
                    <!--                    <li class="nav-item" >-->
                    <!--                        <a class="nav-link" th:href="@{/users/login}">Login</a>-->
                    <!--                    </li>-->
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/cart}">Cart</a>
                    </li>
                    <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="nav-link dropdown-toggle" th:href="@{#}" id="navbarDropdownAdministration"
                           data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Administration
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownAdministration">
                            <a class="dropdown-item" th:href="@{/admin/orders/today}">Orders</a>
                            <a class="dropdown-item" th:href="@{/admin/products/all}">Products</a>
                            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" th:href="@{/users/admin/users}">Users</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" th:href="@{/admin/products/create}">Create a product</a>
                            </th:block>
                        </div>
                    </li>
                    <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                        <a class="nav-link dropdown-toggle" th:href="@{#}" id="navbarDropdownBlog"
                           data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <span class="text-white" th:text="|Hello ${#authentication.getPrincipal().getUsername()}|"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                            <a class="dropdown-item" th:href="@{/users/profile}">My Profile</a>
                            <a class="dropdown-item" th:href="@{/orders}">My Orders</a>
                            <div class="dropdown-divider"></div>
                            <!--                            <form action="/users/logout" th:method="post">-->
                            <!--                                                                <input type="submit" value="Logout"  class="dropdown-item btn btn-link text-danger">-->
                            <!--                                                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
                            <!--                            </form>-->

<!--                            <a class="dropdown-item" href="/users/logout">Logout</a>-->

                            <form th:action="@{/logout}" method="post">
<!--                                <button type="submit" class="btn btn-link nav-link">Logout</button>-->
                                <button type="submit" class="dropdown-item">Logout</button>
                            </form>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</th:block>