<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
        <th:block th:include="~{fragments/nav}"></th:block>
</header>
<main>
    <div class="container">
        <h1 class="text-center">Menu</h1>
        <div class="row justify-content-center mb-4">
            <button class="btn btn-dark m-2" onclick="getItems(this.id)" id="">All</button>
            <button class="btn btn-dark m-2" onclick="getItems(this.id)" id="Computer">Computer</button>
            <button class="btn btn-dark m-2" onclick="getItems(this.id)" id="Laptop">Laptop</button>
            <button class="btn btn-dark m-2" onclick="getItems(this.id)" id="Server">Server</button>
            <button class="btn btn-dark m-2" onclick="getItems(this.id)" id="Printer">Printer</button>
            <button class="btn btn-dark m-2" onclick="getItems(this.id)" id="Mfu">Mfu</button>
        </div>
        <div class="row text-center" id="menu">
        </div>
    </div>
</main>
<footer class="footer bg-success py-2">
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
<script>
    var getItems = function (type) {
        fetch('/fetch/menu/' + type).then(function (response) {
            return response.json()
        }).then(function (json) {
            ($('#menu').empty()).then(
                json.forEach(function (x, y) {
                    $('#menu')
                        .append(
                            '<div class="col-lg-3 col-md-6 mb-4">\n' +
                            '<div class="card h-100">\n' +
                            // '<img class="card-img-top border-bottom" width="253px" height="165px" src="' + x.image + '" alt="">\n' +
                            '<img class="card-img-top border-bottom" src="' + x.image + '" alt="">\n' +
                            '<div class="card-body">\n' +
                            '<h4 class="card-title">' + x.name + '</h4>\n' +
                            '<p class="card-text">' + x.description + '</p>\n' +
                            '</div>\n' +
                            '<div class="card-footer">\n' +
                            '<span class="font-weight-bold">Price: ' + x.price + 'lv</span>\n' +
                            '</div>' +
                            '<div class="card-footer">\n' +
                            '<a href="/products/view/' + x.id + '" class="btn btn-info">View Product</a>\n' +
                            '</div>\n' +
                            '</div>\n' +
                            '</div>'
                        )
                }))
        })
    };

    $(document).ready(getItems(""));
</script>
</body>
</html>