<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
        <th:block th:include="~{fragments/nav}"></th:block>
</header>
<main>
    <div class="container">
        <h1 class="text-center">My Orders</h1>
        <div class="row text-center">
            <table class="table table-striped my-4">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">Address</th>
                    <th scope="col">Total price</th>
                    <th scope="col">Details</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="order, iter : ${orders}">
                    <tr>
                        <th th:text="${iter.index + 1}"></th>
                        <td th:text="${#temporals.format(order.timeOfOrder, 'dd.MM.YYYY HH:mm')}"></td>
                        <td th:text="${order.addressName}"></td>
                        <td th:text="${order.totalPrice}+'lv'"></td>
                        <td><a class="btn btn-info btn-sm" th:href="@{/orders/view/{id}(id=${order.id})}">View</a></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</main>
<footer class="footer bg-success py-2">
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>