<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
        <th:block th:include="~{fragments/nav}"></th:block>
</header>
<main>
    <div class="container">
        <div class="container">
            <h1 class="text-center">Order Info</h1>
            <hr class="w-auto hr-2">
        </div>
        <div class="row mt-2 mb-4 justify-content-center">
            <div class="col-6">
                <h1 class="text-center">Details</h1>
                <hr class="w-auto hr-2"/>
                <div>
                    <span class="h5 font-weight-bold">Order id: <span class="font-weight-normal" th:text="${order.id}"></span></span>
                </div>
                <div>
                    <span class="h5 font-weight-bold">Date: <span class="font-weight-normal" th:text="${#temporals.format(order.timeOfOrder, 'dd.MM.YYYY HH:mm')}"></span></span>
                </div>
                <div>
                    <span class="h5 font-weight-bold">Status: <span class="font-weight-normal" th:text="${order.finished} ? 'Finished' : 'In Progress'"></span></span>
                </div>
                <div>
                    <span class="h5 font-weight-bold">Delivery address: <span class="font-weight-normal" th:text="${order.addressCity}+', '+${order.addressAddress}"></span></span>
                </div>
                <div>
                    <span class="h5 font-weight-bold">Phone number: <span class="font-weight-normal" th:text="${order.addressPhoneNumber}"></span></span>
                </div>
                <div>
                    <span class="h5 font-weight-bold">Notes: <span class="font-weight-normal" th:text="${order.addressNotes}"></span></span>
                </div>
            </div>
            <div class="col-6">
                <h1 class="text-center">Products</h1>
                <hr class="w-auto hr-2"/>
                <table class="table">
                    <thead class="font-weight-bold">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Product</th>
                        <th scope="col">Quantity</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="item, iter : ${order.orderItems}">
                        <tr>
                            <th scope="row" th:text="${iter.index+1}"></th>
                            <td th:text="${item.product.name}"></td>
                            <td th:text="${item.quantity}"></td>
                            <td></td>
                        </tr>
                    </th:block>
                    <tr>
                        <th></th>
                        <td></td>
                        <td></td>
                        <td class="font-weight-bold h5" th:text="'Total: '+${order.totalPrice}+'lv'"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<footer class="footer bg-success py-2">
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>